<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark border border-dark">
        <div class="card-body">
          <form action="/games/edit/{{game.id}}" method="POST">
            <div class="form-group">
              <input
                type="text"
                name="title"
                class="form-control bg-dark text-light"
                placeholder="Title"
                value="{{game.name}}"
                autofocus
              />
            </div>
            <br>
            <div class="form-group">
              <textarea
                name="description"
                rows="2"
                class="form-control bg-dark text-light"
                placeholder="Description"
              >{{game.description}}</textarea>
            </div>
            <br>  
            <div class="form-group">
              <button class="btn btn-warning btn-block">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>