<div class="container-extend read_bg">
    <div class="container center_text_bg">


        <div class="row">

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Cabra.jpg" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Cabra.jpg";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Caracol.png" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Caracol.png";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Cohala.png" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Cohala.png";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Conejo.jpg" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Conejo.jpg";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Jirafa.jpg" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Jirafa.jpg";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Le처n.jpg" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Le처n.jpg";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Mono.png" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Mono.png";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Oveja.jpg" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Oveja.jpg";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Perro.jpg" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Perro.jpg";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3 p-2">
                <div class="card text-center bg-dark text-light h-100">
                    <div class="card-body">
                        <img src="img/fauna/Ping체ino.png" style="width: 200px; height: 200px;" class="card-img-top"
                            alt="...">
                        <h3 class="card-title text-uppercase">
                            <script>
                                var rutaImagen = "img/fauna/Ping체ino.png";
                                var nombreImagen = rutaImagen.split('/').pop();
                                var nombre = nombreImagen.slice(0, -4);
                                document.write(nombre);
                            </script>
                        </h3>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>