<div class="container-extend read_bg">
    <div class="container center_text_bg">
        <h1>Objetivo de la plataforma</h1><br>
        <p>El objetivo de la plataforma web es enseñar de una manera más dinámica, a que personas interesadas en la flora y fauna tengan la virtud de poder explorar el mundo a través de diferentes herramientas, tales como poder indagar entre vídeos, imagenes, notas, juegos, etc. </p>
    </div>
    <div class="container img-center">
        <div class="container-img">
            <img class="img_size" src="/img/img-info/perrito-olfateando.jpg" alt="perrito-olfateando">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/rama-sonriendo.jpg" alt="rama-sonriendo">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/patito-ducha.jpg" alt="patito-ducha">
        </div>
    </div>

    <div class="container center_text_bg">
        <h1>¿Qué es la Flora?</h1><br>
        <p>La RAE indica a la flora proviene del latín Flora 'diosa de las flores'; y significa conjunto de plantas de un país o de una región.</p>
    </div>
    <div class="container img-center">
        <div class="container-img">
            <img class="img_size" src="/img/img-info/flora-1.jpg" alt="flora-1">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/flora-2.jpg" alt="flora-2">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/flora-3.jpg" alt="flora-3">
        </div>
    </div>

    <div class="container center_text_bg">
        <h1>¿Qué es la Fauna?</h1><br>
        <p>La RAE indica a la flora proviene del latín Fauna, 'diosa de la fecundidad'; y significa conjunto de los animales de un país, región o medio determinados.</p>
    </div>
    <div class="container img-center">
        <div class="container-img">
            <img class="img_size" src="/img/img-info/fauna-1.jpg" alt="fauna-1">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/fauna-2.jpg" alt="fauna-2">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/fauna-3.jpg" alt="fauna-3">
        </div>
    </div>

    <div class="container center_text_bg">
        <h1>¡Importancia de la flora y la fauna!</h1><br>
        <p>Joel Arias Enríquez, Director de la Escuela de Ingeniería Ambiental de la Universidad Católica San Pablo, indica que además de su valor intrínseco, la fauna y la flora salvaje contribuye a los aspectos ecológicos, genéticos, sociales, económicos, científicos, educativos y culturales para el desarrollo sostenible y el bienestar de todos nosotros.</p>
    </div>
    <div class="container img-center">
        <div class="container-img">
            <img class="img_size" src="/img/img-info/impo-1.jpg" alt="impo-1">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/impo-2.jpg" alt="impo-2">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/impo-3.jpg" alt="impo-3">
        </div>
        <div class="container-img">
            <img class="img_size" src="/img/img-info/impo-4.jpg" alt="impo-4">
        </div>
    </div>
    <br>
</div>